footer {
  background-color: #FAFAFA;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-menu {
  width: 100%;
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: space-between;

}

footer ul li {
  list-style-type: none;
  color: #4B4B4B;
  font-weight: 600;
  font-size: 15px;
}

footer ul li ul {
  padding-left:0;
}

footer ul li ul li ul li {
  color: #4B4B4B;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

#feds-footer ul li ul li ul li a {
  color: #4B4B4B;
  text-decoration: none!important;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; 
}

#feds-footer ul li ul li ul li a:hover {
  color:#aeaeae;
}

