footer {
  background-color: #FAFAFA;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
}
.footer-menu {
  width: 100%;
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.footer-menu h4 {
  color: #4B4B4B;
  font-weight: 600;
  font-size: 15px;
}

.footer-menu ul {
  padding-left:0;
  list-style-type: none;
  color: #4B4B4B;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.footer-menu a {
  color: #4B4B4B;
  text-decoration: none!important;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; 
}

.footer-menu a:hover {
  color:#aeaeae;
}

.footer-featuredProducts {
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  line-height: 1;
  width: 100%;
}

.footer-featuredProducts ul {
  margin: 0;
  
}

.footer-featuredProducts ul li {
  display: inline;
  color: #4B4B4B;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  margin: 10px;
}

.footer-featuredProducts ul li:first-child {
  font-weight: 600;
  font-size: 15px;
}

.footer-featuredProducts a {
  color: #4B4B4B;
  text-decoration: none!important;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; 
}

.footer-featuredProducts a:hover {
  color:#aeaeae;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  color: #4B4B4B;
  font-size: 12px;
  flex-wrap: wrap;
}

.copyright ul {
  padding-left: 0.5em;
}

.copyright li {
  list-style: none;
  float:right;
  margin-right:0.5em;
}

.copyright li:before {
  content: '/';
  margin-right: 0.5em;
}